* {
  margin: 0;
  padding: 0;
}

html, body {
  box-sizing: border-box;
  background-color: rgb(235,235,235);
}

button {
  box-shadow: none;
  outline: 0;
}

button:disabled {
  border: none;
  opacity: .35 !important;
}

button:focus {
  outline: none;
  border: none;
}

button:focus-within {
  outline: transparent;
  border: transparent;
}

/* ************* */
/* PRODUCTS STYLES */
/* ************* */

.products-list .card-img-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-list .card-img-top {
  width: 100%;
  height: 300px;
  object-fit: contain;
  object-position: center;
  padding: 12px;
}

.products-list .card {
  margin-right: 2%;
  margin-bottom: 2%;
  width:48%;
}

@media (min-width: 992px) {
  .products-list .card {
    margin-right: 1%;
    margin-bottom: 1%;
    width: 32%;
  }
}

@media (min-width: 1200px) {
  .products-list .card {
    margin-right: 1%;
    margin-bottom: 1%;
    width: 24%;
  }
}

/* ************* */
/* CART STYLES */
/* ************* */

.cart {
  margin-top: 60px;
}

.cart .cart-items .item-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.cart-empty {
  margin-top: 120px;
}

/* ************* */
/* ORDER CHECKOUT STYLES */
/* ************* */

.order-summary {
  margin: 1rem auto;
  max-width: 960px;
}

.order-summary .return-btn {
  color: rgba(0, 0, 0, 0.613);
}

.order-summary .top-brand {
  border-radius: 8px;
}

.order-summary .order-details {
  padding: 0 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.order-summary .order-details div {
  border-radius: 8px 0 0 8px;
}

.order-summary .order-details div:nth-child(2) {
  border-radius: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.41);
  border-right: 1px solid rgba(0, 0, 0, 0.41);
}

.order-summary .order-details div:last-child {
  border-radius: 0 8px 8px 0;
}

.order-summary .order-items {
  margin-top: 1.5rem;
}

.order-summary .order-item {
  margin-bottom: 1.5rem;
}

.order-summary .order-item img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.order-summary .order-calc {
  padding: 0.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.order-summary {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}



/* *************************************** */
/* *************************************** */
/* ADMIN CSS */
/* *************************************** */
/* *************************************** */

/* ************* */
/* ADMIN LAYOUT STYLES */
/* ************* */


.admin-layout nav {
  width: 328px;
  height: 100vh;
  background-color: rgb(253, 253, 253);
  padding-top: 52px;
}

.admin-layout nav .nav-logo {
  margin-left: 48px;
}

.admin-layout nav .nav-logo .logo {
  color:#f8c630;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 3px;
}

.admin-layout nav .nav-logo .label {
  font-size: 18px;
  font-weight: 300;
}

.admin-layout nav .nav-items-container {
  width: 242px;
  margin-top: 80px;
}

.admin-layout nav .nav-items-container .nav-item {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 8px;
  height: 49px;
  margin-bottom: 8px;
  padding-left: 12px;
  text-decoration: none;
  background-color: rgb(230, 230, 230);
  color: black;
}

.admin-layout nav .nav-items-container .nav-item:hover {
  background-color: #f8c630b9;
  transition: background-color .2s ease;
}

.admin-layout nav .nav-items-container .nav-item.active {
  background-color: #f8c630;
  border: 1px solid rgba(0, 0, 0, 0.624);
}

.admin-layout nav .nav-items-container .icon-container {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-layout nav .nav-items-container .icon-container i {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.754);
}

.admin-layout nav .nav-items-container span {
  margin-left: 16px;
  color: black;
  font-weight: 500;
}

@media (min-width: 1400px) {
  .admin-layout {
      max-width: 1440px;
  }
}

.admin-layout .dashboard-view,
.admin-layout .products-view {
  padding-top: 4rem;
  background-color: rgb(241, 241, 241);
  width: 1112px;
  margin: 0 auto;
}

/* ************* */
/* DASHBOARD STYLES */
/* ************* */

.admin-view-wrapper {
  background-color: rgb(253, 253, 253);
  width: 96%;
  margin: 0 auto;
  padding: 24px 24px;
  border-radius: 12px;
}

.dashboard-view .stats-container {
  margin-top: 48px;
}

.dashboard-view .stats-container .stat-card {
  width: 272px;
  height: 156px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  margin-right: 32px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.166);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.065),
              -3px -3px 10px rgba(0, 0, 0, 0.065)  ;
}

.dashboard-view .stats-container .stat-card .label {
  position: absolute;
  top: 12px;
  left: 16px;
  font-size: 12px;
}

.dashboard-view .stats-container .stat-card .value {
  font-size: 32px;
  font-weight: 600;
}

/* ************* */
/* PRODUCTS INDEX STYLES */
/* ************* */

.products-view .products-container {
  width: 95%;
  margin-top: 48px;
}

.products-view .products-container .table-headings {
  font-weight: 600;
  margin-bottom: 1rem;
}

.products-view .products-container .img-container {
  width: 50px;
  height: 50px;
}

.products-view .products-container .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products-view .products-container .product-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.112);
  padding-bottom: 6px;
}
