* {
  margin: 0;
  padding: 0;
}

html, body {
  box-sizing: border-box;
}

button {
  box-shadow: none;
  outline: 0;
}

button:disabled {
  border: none;
  opacity: .35 !important;
}

button:focus {
  outline: none;
  border: none;
}

button:focus-within {
  outline: transparent;
  border: transparent;
}

/* ************* */
/* PRODUCTS STYLES */
/* ************* */

.products-list .card-img-container {
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-list .card-img-top {
  width: 100%;
  height: 300px;
  object-fit: contain;
  object-position: center;
  padding: 12px;
}

.products-list .card {
  margin-right: 2%;
  margin-bottom: 2%;
  width:48%;
}

@media (min-width: 992px) {
  .products-list .card {
    margin-right: 1%;
    margin-bottom: 1%;
    width: 32%;
  }
}

@media (min-width: 1200px) {
  .products-list .card {
    margin-right: 1%;
    margin-bottom: 1%;
    width: 24%;
  }
}

/* ************* */
/* CART STYLES */
/* ************* */

.cart {
  margin-top: 60px;
}

.cart .cart-items .item-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.cart-empty {
  margin-top: 120px;
}

/* ************* */
/* ORDER CHECKOUT STYLES */
/* ************* */

.order-summary {
  margin: 1rem auto;
  max-width: 960px;
}

.order-summary .return-btn {
  color: rgba(0, 0, 0, 0.613);
}

.order-summary .top-brand {
  border-radius: 8px;
}

.order-summary .order-details {
  padding: 0 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.order-summary .order-details div {
  border-radius: 8px 0 0 8px;
}

.order-summary .order-details div:nth-child(2) {
  border-radius: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.41);
  border-right: 1px solid rgba(0, 0, 0, 0.41);
}

.order-summary .order-details div:last-child {
  border-radius: 0 8px 8px 0;
}

.order-summary .order-items {
  margin-top: 1.5rem;
}

.order-summary .order-item {
  margin-bottom: 1.5rem;
}

.order-summary .order-item img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.order-summary .order-calc {
  padding: 0.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.order-summary {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}



/* *************************************** */
/* *************************************** */
/* ADMIN CSS */
/* *************************************** */
/* *************************************** */

/* ************* */
/* ADMIN LAYOUT STYLES */
/* ************* */


.admin-layout nav {
  width: 328px;
  height: 100vh;
  background-color: rgb(235,235,235);
}

.admin-layout nav .nav-items-container {
  width: 242px;
  margin-top: 137px;
}

.admin-layout nav .nav-items-container .nav-item {
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 8px;
  height: 49px;
  margin-bottom: 8px;
  padding-left: 12px;
  text-decoration: none;
  background-color: rgb(248, 248, 248);
  color: black;
}

.admin-layout nav .nav-items-container .nav-item:hover {
  background-color: white;
  transition: background-color .2s ease;
}

.admin-layout nav .nav-items-container .nav-item.active {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.624);
}

.admin-layout nav .nav-items-container .icon-container {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-layout nav .nav-items-container .icon-container i {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.754);
}

.admin-layout nav .nav-items-container span {
  margin-left: 16px;
  color: black;
  font-weight: 500;
}

@media (min-width: 1400px) {
  .admin-layout {
      max-width: 1440px;
  }
}



