* {
  margin: 0;
  padding: 0;
}

html, body {
  box-sizing: border-box;
  background-color: rgb(241, 241, 241);
}

a {
  text-decoration: none;
  color: black;
}

/* ************* */
/* CUSTOM BUTTON STYLES STYLES */
/* ************* */

.button {
  cursor: pointer;
  height: 49px;
  width: 162px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
  border-radius: 8px;
  color: black;
  font-weight: 500;
  border: 1px solid rgb(203, 203, 203);
}

.button:hover {
  background-color: rgb(225, 225, 225);
}

.button-link {
  cursor: pointer;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.063);
  padding: 8px;
  color: rgba(0, 0, 0, 0.794);
}

.button-link:hover {
  background-color: rgba(0, 0, 0, 0.172);
}

.button.button-fluid {
  width: 100%;
}

.button.button-main {
  background-color: #f8c630;
  color: black;
  border: 1px solid #e7b319;
}

.button.button-main:hover {
  background-color: #ffc929;
}



